/* style.css */

.imagem-carrossel {
    object-fit: cover;
    object-position: 0% 0%;
    height: 400px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: #8b0000;
}

.botao-cor-especial {
    background-color: #8b0000;
    color: #fff;
}

.botao-cor-especial:hover {
    background-color: #fff;
    color: #8b0000;
    border-color: #8b0000;
}

.borda-cor-especial {
    border-color: #8b0000;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.card-largura {
    max-width: 18rem;
}
